.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#message {
  font-size: 20;
  text-length: 32;
  y: 255;
  x: 40;
}

#play {
  y: 110;
  fill: #44ff54;
}
